body, html {
	font-family: 'Courier', sans-serif;
	margin: 0;
	font-size: 16px;
	background-color: #41533b;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("gallery/banner3.jpg");
	background-position: center 2%;
	background-repeat: no-repeat;
	background-size: cover;
	position: center;
	height: 500px;
	width: 100%;
}
figcaption {
	text-align: center;
}
@media (max-width:768px) {
	.hero-image {
		width: 100%;
	}
	.figure {
		width: 100%;
	}
	.header {
		padding-bottom: 10px;
	}
	.news img {
		display: none;
	}
	.video {
		width: 100%;
		float: center;
	}
	.container {
	width: 30%;
	}
	.container .box .imgBox {
		width: 100%;
	}
	.container .box .imgBox img {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 600px) {
	.hero-image {
		width: 600px;
	}
	figure {
		display: none;
	}
	.header {
		padding-bottom: 10px;
	}
	video {
		width: 590px;
		padding-right: 20px;
	}
	.text1,
	.text2 {
		width: 90%;
		padding-left: 11px;
		padding-right: 11px;
	}
	.text3,
	.text4 {
		width: 90%;
		text-align: center;
		padding-left: 20px;
		}
	h1, h2 {
		text-align: center;
	}
	.container {
		width: 100%;
		height: auto;
	}
	.container .box .imgBox {
		width: 100%;
		height: auto;
	}
	.container .box .imgBox img {
		width: 100%;
		height: auto;
	}

}

/*index*/
.text1 {
	position: center;
	top: 5%;
	margin: 5px 5px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}
.text2 {
	position: center;
	top: 50%;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1c222e;
}
/*index*/
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
	color: black;
}
h2 {
	margin: 0.5em;
	font-size: 1.5em;
	color: black;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1.5em;
	line-height: 1.4em;
	letter-spacing: 1px;
	color: white;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
/*Vijesti*/
.news {
	position: center;
	top: 5%;
	margin: 5px 5px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}
.news img {
	width: 15%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: white;
}
.news hr {
	margin: 1em;
	border: 1px dotted white;
	clear: both;
}
.news time {
	font-size: 100%;
	font-style: italic;
}
/*About sekcija*/
video {
	margin: 0 1em 1em 1em;
	float: left;
}
/*Stranica za kontakt*/
.Contact iframe{
	position: center;
}
.Contact input{
	margin: 0 1em 0.5em 0.5em;
}
.Contact textarea{
	margin: 0 1em 0.5em 0.5em;
}
.Contact label{
	margin: 0 1em 0.5em 0.5em;
}
/*Galerija*/
.container {
	width: 100%;
	margin: 80px 20px;
	display: ruby-base-container;
	flex-direction: column;
	flex-wrap: wrap;
}
.container .box {
	position: relative;
	width: 400px;
	height: 200px;
	background: #41533b;
	margin: 80px 80px;
	box-sizing: content-box;
}
.container .box .imgBox {
	position: relative;
	overflow: hidden;
}
.container .box .imgBox img {
	max-height: 100%;
	transition: transform 2s;
}
.container .box:hover .imgBox img {
	transform: scale(1.5);
}
.container .box .opis {
	position: absolute;
	top: 120px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: rgba(0,0,0,0.9);
	transform: scaleY(0);
	transition: transform .5s;
	opacity: 0.75;
}
.container .box:hover .opis {
	transform: scaleY(1);
}
.container .box .opis .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	padding: 15px;
	color: white;
}
/*.container .box .opis .content p {
	margin: 0 ;
	padding: 0;
	font-size: 20px;
	color: #ff0;

}*/
/*.galleryResp {
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 25px;
	float: left;
	width: 30%;
}
.galleryOpis {
	vertical-align: middle;
	border-radius: 4px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
 .Gallery img{
	vertical-align: middle;
	width: auto;
}*/
img:hover {
	box-shadow: 0 0 2px 1px white;
}
footer {
	display: block;
	padding: 1px 1px;
	text-align: center;
	background: #1c222e;
	color: white;
}